.squares {
    display: inline-block;
    width: 100px; 
    height: 100px;
    background-color: black;
    
}

p { 
    font-family: cursive;
    font-weight: 9;
    font-size: x-large;
    text-align: center;
    user-select: none;
}
button {
    user-select: none;
}
